<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/fonts/stylesheet.css">
    <link rel="stylesheet" href="/myUploads/myUploads.css">
    <title>My Uploads</title>
</head>

<body>

    <div id="container">

        <div id="delete-modal">
            <div id="modal-container">
                <div id="modal-text">
                    <p>Are you sure you wish to delete this track? Once it has been deleted, it will <strong>no longer be available</strong> in your uploads.</p>
                </div>
                <div id="modal-buttons">
                    <button id="delete-cancel">cancel</button>
                    <button id="delete-commit">delete track</button>
                </div>
            </div>
        </div>

        <h1>Uploaded Tracks</h1>

    </div>

    <script src="https://momentjs.com/downloads/moment-with-locales.js" defer></script>
    <script type="module" src="/myUploads/myUploadsFront.js" defer></script>
</body>

</html>
